*
!/.github/
!/.github/workflows/
!/.github/workflows/workflow.yml
!/.gitignore
!/LICENSE
!/README
!/checks/
!/checks/installIsoVmWithDisko/
!/checks/installIsoVmWithDisko/default.nix
!/checks/laptopVmWithDisko/
!/checks/laptopVmWithDisko/default.nix
!/flake.lock
!/flake.nix
!/hosts/
!/hosts/installIso/
!/hosts/installIso/configuration.nix
!/hosts/laptop/
!/hosts/laptop/configuration.nix
!/hosts/laptop/hardware-configuration.nix
!/packages/
!/packages/cv/
!/packages/cv/default.nix
!/packages/cv/index.html
!/prm/
!/prm/**
