*
!/.github/
!/.github/workflows/
!/.github/workflows/workflow.yml
!/.gitignore
!/LICENSE
!/README
!/checks/
!/checks/desktopVmWithDisko/
!/checks/desktopVmWithDisko/default.nix
!/checks/fswm_test/
!/checks/fswm_test/default.nix
!/checks/laptopVmWithDisko/
!/checks/laptopVmWithDisko/default.nix
!/flake.lock
!/flake.nix
!/hosts/
!/hosts/desktop/
!/hosts/desktop/configuration.nix
!/hosts/desktop/hardware-configuration.nix
!/hosts/install-iso/
!/hosts/install-iso/configuration.nix
!/hosts/laptop/
!/hosts/laptop/configuration.nix
!/hosts/laptop/hardware-configuration.nix
!/packages/
!/packages/cv/
!/packages/cv/default.nix
!/packages/cv/index.html
!/packages/fswm/
!/packages/fswm/default.nix
!/packages/fswm/main.c
!/packages/fswm_test/
!/packages/fswm_test/default.nix
!/packages/fswm_test/main.c
!/prm/
!/prm/**
